html {
    background-color: #fefefe;
}

body {
    font-family: Open Sans, Arial, serif;
    color:#454545;
    font-size:16px;
}

button {
    border-radius: 0.5em;
}

button.delete {
    background-color: darkred;
    border-color: darkred;
    color: #fefefe;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

button.create {
    background-color: darkgreen;
    border-color: darkgreen;
    color: #fefefe;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.annotation .toolbar {
    alignment: right;
}

.annotation-on-map-marker {
    border-style: solid;
    border-color: darkred;
    border-radius: 3px;
}

.annotation.expanded {
    background-color: #fefefe;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 10px;
}

.annotation.button-create {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    padding: 0.2em;
}

.branding.logo {
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 2em;
    padding-top: 0.1em;
    font-size: 1.5em;
    float: left;
}

.dates .linker {
    font-weight: bolder;
    margin-right: 1em;
    margin-left: 1em;
}

.dates .year {
    font-weight: bold;
}

.embedded-content {
    background-color: #fafafa;
    border-width: 0.1em;
    border-radius: 0.1em;
    margin: 0.5%;
    padding: 0.5%;
}

.embedded-content.bordered {
    border-color: lightgrey;
    border-radius: 0.5em;
    border-style: solid;
}

.entity.choose {
    border-color: darkgray;
    border-radius: 0.3em;
    border-style: solid;
    border-width: 0.1em;
    background-color: #fefefe;
    margin: 0.1em;
    padding: 0.1em;
}

.entity.choose:hover {
    border-color: lightgrey;
    background-color: #f0f0f0;
    margin: 0.15em;
    padding: 0.15em;
    font-style: italic;
}

.entity.choose.chosen {
    border-color: darkgray;
    border-width: 0.1em;
    background-color: #eeeeee;
}

.entry-body {
    display: flex;
    justify-content: left;
}

.entry-header {
    display: flex;
    justify-content: center;
}

.list {
    border-color: lightgrey;
    border-radius: 0.5em;
    border-style: solid;
    margin-top: 0.5%;
    padding: 0.5%;
}

.list-entry {
    background-color: #eeeeee;
    border-radius: 0.3em;
    list-style-position: inside;
    list-style-type: none;
    margin: 0.1em;
    padding-left: 0.4em;
    flex-grow: unset;
}

.list-entry:not(.scene):not(.map) {
    display: flex;
    justify-content: center;
}

.list-entry a {
    color: #111111;
    text-decoration: none;
    margin: 5pt;
}

.list-entry a:hover {
    color: #555555;
    font-weight: bold;
}

.list-entry button {
    margin: 0.3em;
}

.list-entry .dates {
    margin-right: 1em;
}

.list-body {
    border-color: darkgray;
    border-width: 0.1em;
    border-radius: 0.3em;
    border-style: solid;
    margin: 0.1em;
    padding: 0.1em;
}

.list-header {
    align-items: baseline;
    background-color: lightgrey;
    border-color: darkgray;
    border-width: 0.1em;
    border-radius: 0.3em;
    border-style: solid;
    display: flex;
    justify-content: right;
    margin-bottom: 0.2em;
    padding: 0.1em;
}

.list-header label {
    font-weight: bold;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.list-header select {
    font-weight: bold;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.full-page .edit {
    text-align: center;
    padding: 1%;
    margin: 1%;
}

.full-page .edit input {
    width: 90%;
    margin: 1em;
}

.full-page .edit input[type=button] {
    width: 30%;
}

.full-page .edit input[type=number] {
    width: 25%;
    margin: 1em;
}

.full-page .edit input[type=text] {
    width: 70%;
}

.full-page .edit textarea {
    width: 90%;
    height: 30em;
    border: 0.2em solid darkgray;
    padding: 5px;
    border-radius: 0.3em;
}

.full-page .edit textarea {
    width: 90%;
    height: 30em;
    border: 0.2em solid darkgray;
    padding: 5px;
    border-radius: 0.3em;
}

.map-single-view-container {
    position: relative;
}

.nav__menu {
    justify-content: flex-start;
    margin: 0.1em;
    padding-left: 1em;
}

.nav__menu a {
    color: #111111;
    text-decoration: none;
    margin: 5pt;
}

.nav__menu a.active {
    font-weight: bold;
}

.nav__menu .help {
    margin-right: 1em;
    padding-right: 1em;
    color: #454545;
    justify-content: right;
}

.list .referenced {
    display: none;
    position: fixed;
    padding: 1em;
    top: 1em;
    left: 1em;
    border: 0.2em solid #f1f1f1;
    z-index: 9;
    background-color: white;
}

.character.list-entry:hover + .referenced {
    display: inherit;
}

.referenced:hover {
    display: inherit;
}

.root__main-child {
    position: relative;
    margin: 10px;
}

.root .top-menu {
    align-items: center;
    display: flex;
    padding: 0.6em;
    background-color: lightgrey;
    border-radius: 3pt;
}

.scene .association.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scene .treasure.description {
    width: 30%;
}

.scene .check.description {
    width: 30%;
}

.scene .list.character {
    width: 30%;
}

.scene .list.map {
    width: 94.3%
}